body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#topBar{
    font-family: 'Sixtyfour convergence', Arial;
    font-weight: 400;
    font-size: 40px;
    width: 100%;
    height: 80px;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,11,80,1) 50%, rgba(0,0,0,1) 100%); 
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 40px -12px rgb(149, 0, 218);
    text-align: center;
}

#topBar p{
    margin: 0;
    margin-top: 0.8%;
}

#gameContainer{
    width: 100%;
    height: 100%;
}
#gameBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;    
    height: 100%;
    flex-direction: column;
}

#mainTableSudoku{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 100px;
}

#numPad{
    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
}

.btnNumpad{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

#tools{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.btnTools{
    width: 60px;
    height: 60px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%; 
    margin-right: 5px;
}

.btnTools:hover, .btnNumpad:hover{
    background-color: rgba(255, 255, 255, 0.295);
}

.btnTools:active, .btnNumpad:active{
    background-color: rgba(255, 255, 255, 0.63);
}
